<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="../editCompany.css">
<title>edit company</title>
</head>
<body>
<div class="header" id="myHeader">
    <h4>PSM Placement Management Team</h4>
      </div>
	<form action="#" th:action="@{/save}" th:object="${company}"
		method="post">

		<table border="0" cellpadding="10">
			<tr>
				<td>company ID:</td>
				<td><input type="text" th:field="*{id}" readonly="readonly" />
				</td>
			</tr>
			<tr>
				<td>company Name:</td>
				<td><input type="text" th:field="*{company_name}" /></td>
			</tr>
			<tr>
				<td>Profile:</td>
				<td><input type="text" th:field="*{profile}" /></td>
			</tr>
			<tr>


				<td>Salary:</td>
				<td><input type="text" th:field="*{salary}" /></td>
			</tr>
			<tr>
				<td>Location:</td>
				<td><input type="text" th:field="*{location}" /></td>
			</tr>
			<tr>
				<td>Elgilibilty:</td>
				<td><input type="text" th:field="*{eligiblty}" /></td>
			</tr>
			<tr>
				<td>No Of Position:</td>
				<td><input type="text" th:field="*{no_of_postion}" /></td>
			</tr>
			<tr>
				<td colspan="2"><button type="submit">Save</button></td>
			</tr>
		</table>
	</form>

<footer id="page-footer">Copyright:-PSM Placement Management Team@pvt.Lmt</footer>
</body>
</html>