@CHARSET "ISO-8859-1";
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    
    background-color: lightsteelblue;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.header {
  text-align: justify;
    padding: 10px;
    font-style: italic;
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgb(16, 57, 90);
  
}
form{
   position: relative;
    margin-top: 10px;
    margin-left: 400px;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    border-style: groove;
    border-radius: inherit;
    height: 220px;
    width: 500px;
    background-color: antiquewhite;
}


.txt-input{
    margin: 20px;
    padding: 5px;
    margin-left: 20px;
    height: fit-content;
    width: fit-content;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.btn{
    margin-left: 85px;
    margin-bottom: 10px;
    height: 30px;
    width: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
#page-footer {
    /* (A1) FIXED AT BOTTOM */
    position: fixed;
    bottom: 0;
    left: 0;
    /* (A2) DIMENSIONS */
    width: 100%;
    height: 40px;
    padding: 0 5px;
    /* (A3) CENTER TEXT */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #page-footer { background: #d1f9ff; }
