<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../MainHome.css">
    <title>Placement Managment</title>
</head>
<body>
	<a href=""></a>
	<div class="header" id="myHeader">
    <h4>PSM Placement Management Team</h4>
      </div>
	<div class="menu-bar">
		<ul>
			<li><span class="pic"></span> <a
				th:href="@{/admlogin}"><ion-icon name="person-outline"></ion-icon>Admin</a></li>
			<li><a th:href="@{/stdlogin}"><ion-icon name="person-add-outline"></ion-icon>Student</a></li>
			
		</ul>
	</div>
	 <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	<footer id="page-footer">Copyright:-PSM Placement Management Team@pvt.Lmt</footer>
</body>
</html>