<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="UTF-8">
        <meta http-equiv="X-UA-compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width,initial-scal=1.0">
        <link rel="stylesheet" href="../studentHome.css">
<title>Student Home Page</title>
</head>
<body>
<div class="header" id="myHeader">
    <h4>PSM Placement Management Team</h4>
      </div>
	<div class="menu-bar">
            <ul>
                <li class="Active"><a th:href="@{/stdhome}">
                <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="title">Home</span></a>
                <li><a th:href="@{/scompany}">
                <span class="icon"><ion-icon name="eye-outline"></ion-icon></span>
                    <span class="title">View Jobs</span></a></li>
                <li><a th:href="@{/sdrive}">
                <span class="icon"><ion-icon name="glasses-outline"></ion-icon></span>
                    <span class="title">View Drive</span></a></li>
               
                <li><a th:href="@{/anyquery}">
                  <span class="icon"><ion-icon name="help-circle-outline"></ion-icon></span>
                    <span class="title">Any Queries</span></a></li>
                <li><a th:href="@{logout}">
                  <span class="icon"><ion-icon name="log-in-outline"></ion-icon></span>
                    <span class="title">Logout</span></a></li>


            </ul>
        </div>
        
        
         <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	<footer id="page-footer">Copyright:-PSM Placement Management Team@pvt.Lmt</footer>
</body>
</html>